node_modules
dist
.git
.github
logs
.env
npm-debug.log
Dockerfile
scripts/docker-build-push.sh
*.log
coverage
/.idea
/.vscode
tmp
*.local
node_modules
dist
logs
.git
.env
npm-debug.log
Dockerfile
.dockerignore
*.tgz
